.hero-section {
  @include media(desktop) {
  }
}

.hero-wrapper {
  padding-top: 162px;
  padding-bottom: 245px;
  max-width: 375px;
  margin: 0 auto;

  @include media(desktop) {
    padding-top: 237px;
    padding-bottom: 359px;
    max-width: 1440px;
  }
}

.hero-container {
  padding: 0 3px;

  @include media(desktop) {
  }
}

.hero-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 46px;
  }
}

.hero-text {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  max-width: 345px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    font-size: 24px;
    max-width: 743px;
  }
}
