.roadmap-section {
  scroll-margin-top: 20px;
}

.roadmap-bg-wrapper {
  padding-top: 51px;
  padding-bottom: 62px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 119px;
    max-width: 1440px;
  }
}

.roadmap-title {
  margin-bottom: 5px;

  @include media(desktop) {
    margin-bottom: 10px;
  }
}

.roadmap-top-text {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #000;
  margin-bottom: 30px;

  @include media(desktop) {
    font-size: 24px;
    margin-bottom: 50px;
  }
}

.roadmap-content-wrapper {
  max-width: 334px;
  min-height: 189px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 21px;
  position: relative;

  @include media(desktop) {
    max-width: 748px;
    min-height: 312px;
  }
}

.roadmap-content-left-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  position: absolute;
  max-width: 165px;
  top: 11px;
  left: 0;

  @include media(desktop) {
    font-size: 23px;
    max-width: max-content;
    top: 38px;
    left: 0;
  }
}

.roadmap-content-right-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  position: absolute;
  max-width: 132px;
  top: 26px;
  right: 0;

  @include media(desktop) {
    font-size: 23px;
    max-width: 273px;
    top: 79px;
    right: 0;
  }
}

.roadmap-content-bottom-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  position: absolute;
  max-width: 132px;
  bottom: 0;
  right: 23px;

  @include media(desktop) {
    font-size: 23px;
    max-width: 272px;
    bottom: 6px;
    right: 39px;
  }
}

.roadmap-img {
  position: absolute;
  top: 55px;
  left: 48px;

  @include media(desktop) {
    top: 85px;
    left: 172px;
  }
}

.roadmap-bottom-text {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #000;
  max-width: 286px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    font-size: 24px;
    max-width: 743px;
  }
}
