.scale-section {
}

.scale-bg-wrapper {
  padding-bottom: 70px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-bottom: 140px;
    max-width: 1440px;
  }
}

.scale-title {
  max-width: 283px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @include media(desktop) {
    max-width: max-content;
    margin-bottom: 50px;
  }
}

.scale-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  max-width: 323px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    font-size: 23px;
    max-width: 648px;
  }
}
