<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <div class="about-text-wrapper">
          <h2 class="section-title about-title">
            Your smart building partner.
          </h2>
          <p class="about-text">
            We integrate IoT sensors, smart thermostats, lighting control, and
            energy dashboards into one ecosystem. EcoNestGen adapts to your
            space and usage patterns, ensuring smarter energy management every
            day.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/about/about-bg-desk.png"
            media="(min-width: 1440px)"
            width="581"
            height="337" />
          <source
            srcset="./img/about/about-bg-mob.png"
            width="346"
            height="201" />
          <img
            class="about-img"
            src="./img/about/about-bg-mob.png"
            alt="Building"
            width="346"
            height="201"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
