<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <h2 class="section-title contact-title">Contact</h2>
      <a class="contact-email-link" href="mailto:hello@cloudstepfy.site"
        ><svg class="mail-icon" width="30" height="30">
          <use href="./img/sprite.svg#icon-mail"></use></svg
        >hello@cloudstepfy.site</a
      >
      <p class="contact-address">HQ: Mariahilfer Str. 45, Vienna, Austria</p>
      <p class="contact-policy-text">
        CloudStepfy LLC complies with EU cloud data security and GDPR standards.
      </p>
    </div>
  </div>
</section>
