<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <h2 class="section-title contact-title">
        Let's make your building smarter.
      </h2>
      <p class="contact-text">
        Ready to transform your space? Get in touch with our team to discuss
        your smart building needs.
      </p>
      <div class="contact-links-wrapper">
        <a class="contact-email-link" href="mailto:support@econestgen.space"
          ><svg class="mail-icon" width="20" height="20">
            <use href="./img/sprite.svg#icon-mail"></use></svg
          >support@econestgen.space</a
        >
        <a class="contact-email-link" href="mailto:partners@econestgen.space"
          ><svg class="mail-icon" width="20" height="20">
            <use href="./img/sprite.svg#icon-mail"></use></svg
          >partners@econestgen.space</a
        >
        <a class="contact-email-link" href=""
          ><svg class="mail-icon" width="20" height="20">
            <use href="./img/sprite.svg#icon-map-pin"></use></svg
          >Office: Herengracht 412, 1017BZ Amsterdam, Netherlands</a
        >
      </div>
    </div>
  </div>
</section>
