<section class="section examples-section" id="examples">
  <div class="examples-bg-wrapper">
    <div class="container examples-container">
      <h2 class="section-title examples-title">
        From hesitation to transformation.
      </h2>
      <ul class="examples-list">
        <li class="examples-list-item">
          <picture>
            <source
              srcset="./img/examples/examples-chart-desk.png"
              media="(min-width: 1440px)"
              width="157"
              height="109" />
            <source
              srcset="./img/examples/examples-chart-mob.png"
              width="50"
              height="35" />
            <img
              class="examples-img"
              src="./img/examples/examples-chart-mob.png"
              alt="Chart"
              width="50"
              height="35"
              loading="lazy"
          /></picture>
          <p class="examples-item-title">RetailCo:</p>
          <p class="examples-item-text">
            Reduced manual reporting by 72% within 3 months
          </p>
        </li>
        <li class="examples-list-item">
          <picture>
            <source
              srcset="./img/examples/examples-calendar-desk.png"
              media="(min-width: 1440px)"
              width="157"
              height="109" />
            <source
              srcset="./img/examples/examples-calendar-mob.png"
              width="50"
              height="35" />
            <img
              class="examples-img"
              src="./img/examples/examples-calendar-mob.png"
              alt="Calendar"
              width="50"
              height="35"
              loading="lazy"
          /></picture>
          <p class="examples-item-title">HealthPro:</p>
          <p class="examples-item-text">
            Automated appointment scheduling saved 18 staff hours weekly
          </p>
        </li>
        <li class="examples-list-item">
          <picture>
            <source
              srcset="./img/examples/examples-cloud-desk.png"
              media="(min-width: 1440px)"
              width="157"
              height="109" />
            <source
              srcset="./img/examples/examples-cloud-mob.png"
              width="50"
              height="35" />
            <img
              class="examples-img"
              src="./img/examples/examples-cloud-mob.png"
              alt="Cloud"
              width="50"
              height="35"
              loading="lazy"
          /></picture>
          <p class="examples-item-title">LogixWare:</p>
          <p class="examples-item-text">
            Cloud migration cut infrastructure costs by 35%
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
