<header class="header">
  <div class="header-bg-wrapper">
    <div class="container header-container">
      <nav class="nav">
        <a href="./index.html" class="header-logo-link">
          <picture>
            <source
              srcset="./img/header/header-logo-desk.png"
              media="(min-width: 1440px)"
              width="216"
              height="43" />
            <source
              srcset="./img/header/header-logo-mob.png"
              width="117"
              height="23" />
            <img
              class="typologies-img"
              src="./img/header/header-logo-mob.png"
              alt="Logo"
              width="117"
              height="23" /></picture
        ></a>
        <ul class="nav-list">
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#home">Assessment</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#roadmap">Roadmap</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#process">Cloud Pilot</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#scale">Scale Up</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#examples"
              >Case Examples</a
            >
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#plans"
              >Plans & Support</a
            >
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#contact">Contact</a>
          </li>
        </ul>
        <button class="nav-btn" type="button" aria-label="Open mobile menu">
          <svg class="menu-icon" width="28" height="28">
            <use href="./img/sprite.svg#icon-menu"></use>
          </svg>
        </button>
      </nav>
    </div>
  </div>
</header>
