<section class="section hero-section" id="home">
  <div class="hero-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-title">
            Smarter Spaces. <span class="hero-title-span">Greener</span> Future.
          </h1>
          <p class="hero-text">
            EcoNestGen helps businesses transform offices, shops, and coworking
            spaces into energy-efficient smart environments. Our solutions
            reduce energy bills and support sustainability goals without
            compromising comfort.
          </p>
          <a href="#contact" class="hero-btn"
            >Explore Solutions
            <svg class="forward-arrow-icon" width="33" height="25">
              <use href="./img/sprite.svg#icon-arrow-forward"></use></svg
          ></a>
        </div>
        <picture>
          <source
            srcset="./img/hero/hero-bg-desk.png"
            media="(min-width: 1440px)"
            width="646"
            height="646" />
          <source
            srcset="./img/hero/hero-bg-mob.png"
            width="286"
            height="286" />
          <img
            class="hero-img"
            src="./img/hero/hero-bg-mob.png"
            alt="House"
            width="286"
            height="286"
        /></picture>
      </div>
    </div>
  </div>
</section>
