<div class="context-menu">
  <div class="container">
    <button class="close-btn" type="button" aria-label="Close mobile menu">
      <svg class="close-icon" width="48" height="48">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="context-nav">
      <ul class="context-nav-list">
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#home">Home</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#about"
            >About EcoNestGen</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#features"
            >Smart Features</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#savings"
            >Energy Savings</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#studies"
            >Case Studies</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#plans"
            >Pricing Plans</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#blog">Blog</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
