<section class="section plans-section" id="plans">
  <div class="plans-bg-wrapper">
    <div class="container plans-container">
      <h2 class="section-title plans-title">Choose your smart path.</h2>
      <ul class="plans-list">
        <li class="plans-list-item">
          <p class="plans-item-title">Starter Pack</p>
          <p class="plans-item-price">
            €49<span class="plans-item-span">/month</span>
          </p>
          <p class="plans-item-text">up to 5 devices</p>
        </li>
        <li class="plans-list-item">
          <p class="plans-item-title">Pro Pack</p>
          <p class="plans-item-price">
            €149<span class="plans-item-span">/month</span>
          </p>
          <p class="plans-item-text">up to 20 devices + full dashboard</p>
        </li>
        <li class="plans-list-item">
          <p class="plans-item-title">Enterprise</p>
          <p class="plans-item-price">Custom solution</p>
          <p class="plans-item-text">API integration, and 24/7 support</p>
        </li>
      </ul>
    </div>
  </div>
</section>
