<section class="section roadmap-section" id="roadmap">
  <div class="roadmap-bg-wrapper">
    <div class="container roadmap-container">
      <h2 class="section-title roadmap-title">Your cloud journey, mapped.</h2>
      <p class="roadmap-top-text">
        We create a visual step-by-step plan showing:
      </p>
      <div class="roadmap-content-wrapper">
        <p class="roadmap-content-left-text">Which tools will be introduced</p>
        <p class="roadmap-content-right-text">
          Which processes will be automated
        </p>
        <p class="roadmap-content-bottom-text">
          How each change will be measured
        </p>
        <picture>
          <source
            srcset="./img/roadmap/roadmap-line-mob.png"
            media="(min-width: 1440px)"
            width="279"
            height="237" />
          <source
            srcset="./img/roadmap/roadmap-line-mob.png"
            width="170"
            height="143" />
          <img
            class="roadmap-img"
            src="./img/roadmap/roadmap-line-mob.png"
            alt="Line"
            width="170"
            height="143"
        /></picture>
      </div>
      <p class="roadmap-bottom-text">
        Your team sees the destination, but more importantly — the path to get
        there.
      </p>
    </div>
  </div>
</section>
