@import './fonts.scss';
@import 'modern-normalize';
@import './components/header.scss';
@import './components/menu.scss';
@import './components/hero.scss';
@import './components/about.scss';
@import './components/features.scss';
@import './components/savings.scss';
@import './components/studies.scss';
@import './components/plans.scss';
@import './components/blog.scss';
@import './components/contact.scss';
@import './components/footer.scss';
@import './components/banner.scss';
@import './components/privacy-header.scss';
@import './components/privacy.scss';
